.App {
  text-align: center;
  overflow-y: scroll;
}

.container{
  width: 100wv;
  height: 100vh;
  background: hsl(185, 41%, 84%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title{
  font-size: 20px;
  margin-bottom: 40px;
  letter-spacing: 10px;
  color: hsl(183, 100%, 15%);
 font-family: 'Space Mono', monospace;
 font-weight: 700;
}
.main{
  width:700px;
  padding: 10px 20px;
  height: 400px;
  background: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media(max-width: 760px){
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
  }
  .title{
    margin-top: 40px;
  }
  .main{
    overflow-y: scroll;
  display: block;
   width: 100%;
   height: auto;
  
  
 }
}
